section{
    width:80% ;
    height: 800px;
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fphoto-background&psig=AOvVaw2bwU9vhMtCfI9xWY-6iB88&ust=1677725575997000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOjMi_ncuf0CFQAAAAAdAAAAABAJ);
}
