section{
    width:80% ;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1581881067989-7e3eaf45f4f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: center/40% no-repeat url("https://images.unsplash.com/photo-1494475673543-6a6a27143fc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"),blueviolet  ;
}
h1{
    font-weight: 100;
    font-size: 100px;
    color: white;
}
main{
    width: 60%;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
